<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FileParser.Properties.Settings>
            <setting name="basepath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="doubles_file_name" serializeAs="String">
                <value>doubles.csv</value>
            </setting>
            <setting name="uuid_json_get_vendors_cache" serializeAs="String">
                <value>uuid_json.json</value>
            </setting>
            <setting name="Site_Price_cache_path" serializeAs="String">
                <value>Site_Price_cache_path.json</value>
            </setting>
            <setting name="remote_usage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MP_file" serializeAs="String">
                <value>MP_Goods.csv</value>
            </setting>
            <setting name="fullpaths_csv" serializeAs="String">
                <value>fullpaths.csv</value>
            </setting>
            <setting name="names_csv" serializeAs="String">
                <value>names.csv</value>
            </setting>
            <setting name="chDwlOnLd" serializeAs="String">
                <value>False</value>
            </setting>
        </FileParser.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
